* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: sans-serif;
    color: blue;
}

.wrapper {
    min-height: 100vh;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    text-align: left;
}

.headline {
    text-align: center;
    color: red;
    font-size: 48px;
    margin-bottom: 25px;
}

.greating {
    font-style: italic;
    text-align: right;
    margin-bottom: 15px;
}

.row-link {
    display: flex;
    justify-content: space-around;
}

.row-link a {
    color: blue;
}