* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: blue;
    text-align: right;
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;
}

.wrapper {
    min-height: 100vh;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    text-align: left;
}

.headline {
    text-align: center;
    color: red;
    font-size: 48px;
}


.content {
    display: flex;
    align-items: center;
    border: 3px solid rgb(255, 183, 0);
    border-radius: 20px;
    overflow: hidden;
}

.contacting {
    width: 50%;
    flex-shrink: 0;
    
    font-size: 20px;
    padding: 20px;
}

.content__image {
    width: 50%;
    object-fit: cover;
    align-self: stretch;
}

.contacting_paragraph {
    margin-bottom: 10px;
}

.adress {
    display: block;
    text-align: right;
}

.row-link {
    display: flex;
    justify-content: space-around;
}

.row-link a {
    color: blue;
}